body {
    font-family: 'Roboto', sans-serif;
    color: white;
    
    margin: 0px;
    
}

.hero, .footer {
    background-color: #1F2937;
    padding-left: 144px;
    padding-right: 144px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.header-links {
    display: flex;
    gap: 18px;
}

.hero {
    padding-top: 14px;
    padding-bottom: 164px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 84px;
}

.hero-block {
    display: flex;
    justify-content: space-between;
}

.hero-text-block {
    max-width: 450px;
}

.hero-text-big {
    margin: 10px 0px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-text-small {
    font-size: 18px;
    color: #e5e7eb
}

.hero-sign-up-button {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #3882f6;
    padding: 8px 24px 8px 24px;
    border-radius: 8px;
}

.hero-image {
    max-height: 233px;
    width: 800px;
}

.information {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding-bottom: 124px;
}

.information-header-text {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.information-content {
    display: flex;
    column-gap: 50px;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-img-placeholder {
    width: 150px;
    height: 150px;
    
    border-color: blue;
    border-radius: 8px;
    border-style: solid;
}

.info-img-subtext {
    color: #1F2937;
    text-align: center;
    width: 150px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 124px 100px 112px 100px;
}

.quote-text {
    width: 774px;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    padding: 0px;
    margin-top: 0px;
}

.quote-author {
    width: 774px;
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #1F2937
}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 112px 0px;
}

.cta-box {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 40px 180px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
}

.cta-header {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

.cta-text {
    margin: 0px;
}

.cta-button {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #3882f6;
    padding: 8px 24px 8px 24px;
    border-radius: 8px;
    border-color: #e5e7eb;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    font-weight: bold;
}